.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  

}
.contentholder{
    width: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* height: 1000px; */
}


.holder{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;

}


.buttonpare{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.butt{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.butty{
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px red solid;
    cursor: pointer;
}



.contenthold{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    width: 90%;


    
}