.contenthold8{
    background-image: url(../../images/2151872279\ 1.png);
    height: 868px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.holding8{
    background-color: rgba(0, 0, 0, 0.858);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: center;
}

.inside8{
    width: 90%;
    /* background-color: green; */
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ngo8{
    h1{
        margin: 0;
        color: white;
    }


    p{
        margin: 0;
        color: white;
    }
}

.line8{
    width: 100%;
}

.bothcontent8{
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftside8{
    /* background-color: aqua; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.rightside8{
    /* background-color: yellow; */
    width: 70%;
    display: flex;
   

}
.rightsidecontentforpage8{
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 40px;
 
   
}

.indistyling8{
    display: flex;
    flex-wrap: wrap;
    /* height: 90%; */
    /* background-color: chartreuse; */

}

.dmje8{
    
    text-decoration: none;
    
    button{
         border-radius: 22px;
     padding: 10px 40px;
       background-color: #8229D9;
       border: none;
       outline: none;
         color: white;
       transition: ease-in-out 0.7s;
    }
    button:hover{
        background-color: transparent;
        color: #8229d9;
        border: 1px solid #8229d9;
        cursor: pointer;
    }
   
}


.buttonclass{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dime{
    text-decoration: none;
   
     button{
         border-radius: 22px;
     padding: 10px 40px;
       background-color: black;
       border: none;
       outline: none;
       color: white;
       border: 1px solid white;
    }
    button:hover{
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }
}

.individualrightsidecontent8{
    display: flex;
    /* background-color: goldenrod; */
    /* justify-content: space-between; */
    width: 50%;
    flex-direction: column;
    gap: 10px;
    h5{
        margin: 0;
        color: white;
    }
}


.col8{
    color: #FF6600;
}



textarea{
    width: 90%;
}
textarea.textstylering8{
width: 91%;
height: 140px;
gap: 12px;
border-radius: 10px;
opacity: 0px;
padding: 10px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
background-color: initial;
color: white;
}

.textstylering8::placeholder{
   /* background-color: green; */
   color: gray;
   position: relative;
   height: 36px;
   width: 334px !important;
   display: flex;
   justify-content: center;
    
}

.textingfor8{
    
    padding: 10px;
    border-radius: 10px;
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 13px;
text-align: left;
background-color: initial;
color: white;
border: 0.5px solid #FFFFFF1A;
}

.secondconts8{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: green; */
    margin-top: 30px;

}

.firstsecondconts8{
    display: flex;
    gap: 10px;
    /* background-color: brown; */
    width: 70%;
    align-items: start;
    h6{
        color: white;
        margin: 0;
    }
}