

/* 

.stars {
  color: gold;
  margin: 0;
}

.body2 {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1100px;
}

.imga {
  width: 100%;
  position: relative;
}

.contentinside {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}


.imgaiconss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconss {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 1120px;
  display: none;

  a {
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
  }
}
.iconss1 {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 1120px;
  display: none;

  a {
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
  }
}

.imgaiconss:hover .iconss {
  display: flex !important;
  flex-direction: row;
  display: block;
}
.body2holder {
  background-color: blue;
  width: 90%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: aquamarine;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
} */