.boths{
    display: flex;
    flex-direction: column;
    gap: 5px;


    h5{
        margin: 0;
        color: white;

    }

     p{
        margin: 0;
       font-size: small;
       color: white;
    }
}

.fire{
    display: flex;
    justify-content: right;
    /* background-color: green; */
    width: 100%;


    img{
       height: 50%;
       

    }
   

}